*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%; /* container 요소 너비를 전체 너비로 설정 */
  min-height: 100vh; /* 최소 높이를 뷰포트(viewport) 높이 100%로 설정(브라우저 화면 높이와 동일) */
  background: linear-gradient(135deg, #153677, #4e085f); /* 135도 각도의 그라디언트 배경 적용. #153677 -> #4e085f로 부드럽게 변환 */
  padding: 10px; /* 요소 내부 여백 10px로 설정 */
}

.todo-app{
  width: 100%; /* 부모 요소의 너비 100% */
  max-width: 540px; /* 해당 요소를 540px로 제한 */
  background: #fff;
  margin: 100px auto 20px; /* auto는 자동으로 조절, 가운데 정렬 */
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row{
  display: flex;
  align-items: center; /* 세로선 상 중앙 */
  justify-content: space-between; /* 가로선 정렬 방식 요소 사이에 동일 간격 둠 */
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  flex: 1; /* 1은 flex-grow: 1;과 동일 → 부모 요소 내에서 가능한 만큼 확장됨 */
  border: none; 
  outline: none; /* 포커스를 받을 때 나타나는 외곽선을 제거 */
  background: transparent; /* 투명색 */
  padding: 10px;
}

button{
  border: none;
  outline: none;
  padding: 16px 50px; /* 상하, 좌우 */
  background: #ff5945; /* 배경색 */
  color: #fff; /* 글자색 */
  font-size: 16px;
  cursor: pointer; /* 버튼에 마우스 올리면 손 모양나옴 */
  border-radius: 40px;
}

ul li{
  list-style: none; /* li의 불릿 모양 등을 결정 */
  font-size: 17px;
  padding: 12px 8px 12px 50px; /* 상 우 하 좌 순으로 padding*/
  user-select: none; /* 사용자가 드래그할 수 있는지 결정 - none은 x */
  cursor: pointer; /* 갖다대면 손 모양으로 */
  position: relative;
}

ul li::before{
  content:''; /* 비어 있는 내용(가상 요소) before를 사용하기 위해 사용 */
  position: absolute;
  height: 28px; /* 원의 높이 */
  width: 28px; /* 원의 너비 */
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center; /* 이미지 중앙 정렬 */
  top: 12px; /* li 요소의 위쪽에서 12px 이동 */
  left: 8px; /* li 요소의 왼쪽에서 8px 이동 */
}

ul li.checked{
  color: #555; /* 클릭 후 글자 색이 바뀌게 */
  text-decoration: line-through; /* 클릭 후 취소선 나오게 */
}

ul li.checked::before{ /* before라는 가상 요소에 대해서 이미지를 따로 바꿈 */
  background-image: url(checked.png); /* 체크된 이미지 */
}